.login {
    display: none;
  }
  .top {
    height: 120px;
    width: 100%;
    background-color: #fddb3a;
    position: relative;
    margin-top: -60px;
  }
  .bot {
    height: 100px;
    width: 100%;
    background-color: #fddb3a;
    margin-top: 520px;
  }
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 540px;
    position: absolute;
    background-color: #e5e5e5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    margin: -13px 5%;
  }
  input {
    width: 385px;
    height: 55px;
    border-radius: 10px;
    border: 1px solid #e0d7d7;
    padding-left: 20px;
    margin-bottom: 10px;
  }
  .forget-pass {
    margin-left: 142px;
    margin-top: 0px;
    color: #5a5757;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
  }
  .submit {
    width: 405px;
    height: 55px;
    padding: 10px;
    background: #fddb3a;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: white;
  }
  .vuetify{
    background-color: green;
  }
  .vee{
    background-color: blue;
  }
  .spinner{
    z-index: 10;
  }
.loading{
   display: flex;
   justify-content: center;
   align-items: center;
 }

 
  .error{
    color: red;
    transform: translate(-0px,-12px);
  }
  .validate{
    display: flex;
    justify-content: start;
    margin-left: 5px;
  }
  .route{
    display: flex;
    justify-content: space-between;
  }
  .small{
    position: absolute;
    margin-right: 300px;
    margin-top:-6px;
  }